p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

body {
  background-color: #f5f5f9;
  background-size: cover;
  width: auto;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0px;
  margin-bottom: 2%;
}

a:link {
  color: #7D58CC;
}

a:visited {
  color: #4E3780;
}

.yellow-box:link {
  color: #FFFFFF;
}

.yellow-box:visited {
  color: #FFFFFF;
}

.nav-bar {
  width: 100%;
  display: inline-block;
  background-color: #61BF5B;
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding-top: 10px;
}

.nav-content {
  margin-bottom: 10px;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}

.nav-text {
  text-align: center;
}

.nav-text {
  text-align: center;
}

.profile {
  background-color: #61bf5b !important;
  text-align: center;
  height: 320px;
  margin-bottom: 50px;
}

.profile-picture a {
  text-decoration: none; /* removes the underline from link-clicks */
}

.profile h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.space-container {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.profile img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.profile img:hover {
  transform: scale(1.1);
}

.profile .profile-picture {
  margin-bottom: 30px;
  height: 200px;
}

.banner {
  padding: 20px 0px 50px 0px;
  height: 150px;
  background-color: #1d539f;
}

.banner .logo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.banner .title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

/* Start of Custom CSS Styles */
/* 1 em = 16px */

/* Team Projects CSS */

/* Div - Section_Header */
.section-header h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Div timeline header */
.timeline-header {
  background-color: #61BF5B !important;
  text-align: center;
  margin-bottom: 50px;
}

.timeline-header h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.flexbox {
  display: flex;  
  flex-wrap: wrap;

  margin: 10px;

  justify-content: center;
}

.box {
  background-color: #BF5F52;
  padding: 10px;
  margin: 5px;

  border-radius: 10px;
  width: 340px;
  height: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.box:hover {
  transform: scale(1.015);
}

body.no-hover .box:not(.large):hover {
  transform: none;
}

@media screen and (max-width: 600px) {
  .box.large {
    height: 150px;
    transform: none;
    transition: height 0.2s ease-in-out;
  }
}

@media screen and (min-width: 601px) {
  .box.large {
    transform: scale(1.5);
    height: 150px;
    transition: height 0.2s ease-in-out;
  }
}

.top_post_box{
  display: flex;
}

.username {
  margin-bottom: 0px;
}

.date {
  font-size: 12px;
  margin-left: auto;
}

.mail {
  margin-top: 1px;

  font-size: 10px;
}

/* Post Format */
.send_box {
  display: flex;
  margin-top: 20px;
  width: 100%;

  justify-content: center;
  align-items: center
}

.lower_sendbox_title {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.sub_box{
  display: flex;
  justify-content: center;
}

label {
  vertical-align: top;
}

textarea {
  width: 300px;
  height: 100px;
  resize: none;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Div Projects */

.yellow-container {
  width: 300px;
  height: 40px;

  justify-content: center;
  
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 40px;
}

.yellow-box {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;

  color: white;
  text-decoration: none;

  background-color: #BF7350;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  transition: width 0.2s ease-in-out;
  backface-visibility: hidden;
  pointer-events: auto;
}

.yellow-box:hover {
  width: 300px;
  cursor: pointer;

  pointer-events: auto;
}

.divisor-top {
  margin-top: 10px;
}

.divisor {
  margin-top: 150px;
}

.divisor-text {
  font-size: 50px;
  margin-left: 15%;
}

.divisor-text-2 {
  font-size: 50px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  text-align: inner;
  align-items: baseline;
}

.projects {
    width: 70%;
    margin: auto;
    margin-top: 35px;
}

.projects h2 {
  margin: 0;
}

.project-header h1 {
  margin-bottom: 0;
}

.project-name {
  font-size: 28px;
}

.project-date {
  font-size: 20px;
  font-weight: 600;
}

.project-languages {
  font-size: 20px;
  font-weight: 600;
}

.project-degree {
  font-size: 23px;
  font-weight: 400;
}

ul {
  margin: 0;
}

.projects li {
  font-size: 20px;
}

.sublist-project{
  text-align: justify;
  padding-left: 1em;
  font-size: 20px;
}

.project-desc-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 900px) {
  .project-desc-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-left: 10%;
    margin-right: 10%;
  }
}

.project-desc-text {
  flex-grow: 1;
  align-self: flex-start;

  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.blog-section-title {
  font-size: 50px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
}

.blog-content-flex-box {
  display: flex;
  flex-direction: column;

  margin-left: 5%;
  margin-right: 5%;
}

.blog-info-flex-box {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
}

.autor-profile-picture {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.autor-profile-picture img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Same as width to maintain a circular shape */
  object-fit: cover; /* Maintain the image's aspect ratio and cover the circular container */
}

.autor-profile-picture:hover img {
  filter: brightness(80%);
}

.info-data-subflex {
  display: flex;
  flex-direction: column;

  margin-left: 10px;
}

.blog-author-cell {
  flex-grow: 1;

  text-align: left;
  vertical-align: top;
}

.blog-author-cell a {
  color: #BF7350;
  text-decoration: none;
}

.blog-author-cell:hover {
  text-decoration: underline;
  text-decoration-color: #BF7350;
  cursor: pointer;
}

.blog-date-cell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  text-align: left;
  justify-content: flex-end;
  bottom: 0;

  font-size: 12px;
}

.back-button {
  margin-left: auto;

  justify-content: center;
}

.back-button img {
  width: 40px;
}

.blog-body p {
  text-align: justify;
}

.blog-body img {
  max-width: 100%;
}

.body-references {
  text-indent: 1em;
}

.header-desc-flex {
  display:flex;
}

.title-container {
  align-items: left;
}

.desc-date {
  align-items: right;
  margin-left: auto;
}

.project-intro {
  text-align: justify;
}

.project-desc-text h1 {
  font-size: 24px;
  text-decoration: underline;
}

.project-desc-text h2 {
  font-size: 18px;
}

.project-desc-text p {
  font-size: 16px;
}

.project-videos-flexbox {
  display: flex;
  flex-direction: column;
}

.video {
  margin-top: 10px;
}

.site-link {
  list-style: none;
}

.gallery-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.photos-container {
  align-items: center;
  justify-content: center;
}

.photo img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding-top: 50px;
}

.gallery-title h1 {
  font-size: 30px;
  text-align: center;
}

.go-to-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.go-to-button {
  display: inline-block;

  background-color: #BF7350;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.go-to-button:hover {
  background-color: #804D36;
}

/* CSS Styles for aboutme */
.aboutme-contact-flex {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.contact-text {
  word-wrap: break-word; 
  hyphens: auto;
}

.aboutme p {
  font-size: 20px;
  text-align: justify;
}

/* CSS Styles for Hobbies */

.personal-hobbies p {
  font-size: 20px;
}

.hobby-side-r {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 30px;
}

.hobby-side-r img {
  max-height: 300px;
  max-width: 400px;
}

.hobby-resp {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 30px;
}

.hobby-resp img {
  align-self: center;
  max-height: 100%;
  max-width: 80%;
}

.hobby-text {
  margin-right: 5%;
}

.hobby-text-alt {
  margin-left: 5%;
}

.hobby-text-h1 {
  font-size: 50px;
  text-align: center;
}

.hobby-text-p {
  text-align: justify;
}

/* Hobbies if */

.hobbies {
  display: block;
}

.hobbies-responsive {
  display: none;
}

@media (max-width: 784px) {
  .hobbies-responsive {
      display: flex;
  }
  .hobbies {
      display: none;
  }
}

/* CSS Styles for the Individual Page Nav-Bars */
.section-nav-bar {
  margin-left: 5%;
  margin-right: 11%;
  margin-bottom: 25px;
}

.section-nav-bar ul {
  display: flex;
  list-style-position: inside;
  justify-content: space-evenly;
  list-style-type: none;
}

.section-nav-bar a {
  text-decoration: none; /* removes the underline */
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.section-nav-bar a:hover {
  background-color: #7EBF63;
  color: #FFFFFF;
  border-radius: 5%;
  padding: 2px;
  border: 2px;
}

.section-nav-bar .focus-link {
  color: #BF7350;
  font-weight: 800;
}

.company-span {
  text-decoration: underline;
}

/* Map Style */
.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.map {
  margin-top: 30px;
  width: 30%; 
  min-width: 333px;
}

@media (max-width: 1382px) {
  .map {
    width: 100%;
  }
}

#map {
  height: 400px;
}

.visit-list {
  margin-left: 5%;
}

.visit-list .home {
  font-size: 24px;
}

.visit-list li {
  font-size: 20px;
}

.home {
  margin-bottom: 10px;
}

.reason {
  list-style-type: none;
}

img.huechange {
  filter: hue-rotate(120deg);
}

/* map text styles */
.country-origin {
  color: #BF5F52;
}

.vistited-places {
  list-style-position: inside;
  text-align: center;
}

.vistited-place {
  text-align: left;
}

.places-flex-box {
  display: flex;
}

.places-flex-box-alt {
  display: none;
}

@media (max-width: 784px) {
  .places-flex-box-alt {
      display: flex;
      margin-left: 10%;
      margin-right: 18%;
  }
  .places-flex-box {
      display: none;
  }
}
