p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* Start of Custom CSS Styles */
/* 1 em = 16px */

/* Team Projects CSS */

/* Div - Section_Header */
.section-header h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
}


/* Div Projects */

.project-header {
    display: flex;
    justify-content: space-between;
    text-align: inner;
    align-items: baseline;
}

.projects {
    width: 65%;
    margin: auto;
}

.projects h2 {
    margin: 0;
}


.project-header h1 {
    margin-bottom: 0;
}

.project-name {
    font-size: 28px;
}

.project-date {
    font-size: 20px;
    font-weight: 600;
}

.project-languages {
    font-size: 20px;
    font-weight: 600;
}

ul {
    margin: 0;
}

.projects li {
    font-size: 20px;
}

.site-link {
    list-style: none;
}

