<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:title" content="Personal Portfolio" />
  <meta property="og:description" content="My Personal Portfolio" />
  <meta property="og:url" content="{{ url }}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
  <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
  <title>{{ title }}</title>
</head>

<body>
  <header class="nav-bar">
    <div class="nav-content">
      <a href="/">
        <div class="nav-logo">
          <img src="./static/img/logo.png" />
        </div>
      </a>
    </div>
  </header>

  <div class="section-header" style="margin-top: 10px;">
    <h1>Blog</h1>
  </div>

  <div class="blogs">
    {%for i in range(titles | length)%}
    <div class="blog-present-flex">
        <div class="blog-data-flex">
            <div class="blog-title-box">
                <a href="/blog/{{links[i]}}"><h1>{{titles[i]}}</h1></a>
            </div>
            <div class="blog-info-flex">
                <div class="blog-author-info">
                    <p>By <a href="/aboutme"><b>{{ authors[i] }}</b></a></p>
                </div>
                <div class="blog-dates-and-time">
                    <p>{{dates[i]}} - {{read_times[i]}} read</p>
                </div>
            </div>
        </div>
        <div class="blog-present-image">
            <a href="/blog/{{links[i]}}"><img src="./../static/img/blogs/{{images[i]}}"></a>
        </div>
    </div>
    {%endfor%}
  </div>

</body>

</html>