<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:title" content="Personal Portfolio" />
  <meta property="og:description" content="My Personal Portfolio" />
  <meta property="og:url" content="{{ url }}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
  <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />

  <!-- Inserting LeafLet Library -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <title>{{ title }}</title>
</head>

<body>
  <header class="nav-bar">
    <div class="nav-content">
      <a href="/">
        <div class="nav-logo">
          <img src="./static/img/logo.svg" />
        </div>
      </a>
    </div>
  </header>

  <div class="profile">
    <div class="space-container">
      <div id="profile-picture" class="profile-picture">
        <img src="{{pic_url}}" />
        <h1>{{ name }}</h1>
      </div>
    </div>
  </div>

  <div class="section-nav-bar">
    <ul>
      <li><a href="{{ url_for(about_route) }}">About Yourself</a></li>
      <li><a href="{{ url_for(work_route) }}">Work & Education</a></li>
      <li><a href="{{ url_for(hobby_route) }}">Hobbies</a></li>
      <li><a href="{{ url_for(places_route) }}" class="focus-link">Places Visited</a></li>
    </ul>
  </div>

  <!-- Start of Leaflet Map -->

  <div class="map-container">
    <div id="map" class="map" style="width: 600px; height: 400px;"></div>
    <div class="visit-list">
      <h1>Some of my travel experiences!</h1>
      <ul>
        <li class="home"><b>Home: </b> <span class="country-origin">{{ mapper['country_origin'] }}</span></li>
        {%for i in range(mapper["places"] | length)%}
        <li class="vistited-places"> {{ mapper["places"][i] }} </li>
        {%endfor%}
      </ul>
    </div>
  </div>


  <!-- Leaflet JS File -->

  <!-- Leaflet Marker JS -->
  <script>
    // Turns mapper data with users information regarding descriptions and trips into a usable json value by js
    let user_mapper = '{{mapper | tojson}}'
    let parsed_mapper = JSON.parse(user_mapper);
    console.log(parsed_mapper);

    // Creates the map starting coordinates, num[] gives the zoom out length, 1 is max zoom out
    var map = L.map('map').
      setView([`${parsed_mapper.hometown_coords['lat']}`, `${parsed_mapper.hometown_coords['long']}`], 4);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // hometown marker
    var marker = L.marker([`${parsed_mapper.hometown_coords['lat']}`, `${parsed_mapper.hometown_coords['long']}`]
    ).addTo(map);
    marker.bindPopup(`<b>${parsed_mapper.hometown}</b><br>${parsed_mapper.homecity} my hometown!`).openPopup();

    // Places a map-marker based on the users origin
    for (let i = 0; i < parsed_mapper.places.length; i++) {
      let fable_marker = L.marker([`${parsed_mapper.places_coords[i]['lat']}`, `${parsed_mapper.places_coords[i]['long']}`]).addTo(map);
      fable_marker.bindPopup(`<b>${parsed_mapper.places[i]}</b><br>${parsed_mapper.description[i]}`);
      fable_marker._icon.classList.add("huechange");
    }





  </script>
</body>

</html>