<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:title" content="Personal Portfolio" />
  <meta property="og:description" content="My Personal Portfolio" />
  <meta property="og:url" content="{{ url }}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <link lang="sass" rel="stylesheet" href="../static/styles/main.css" />
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
  <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
            <div class="nav-logo">
                <img src="../static/img/logo.png" />
            </div>
            </a>
        </div>
    </header>
    
    <h1 class="divisor-text">{{title}}</h1>
    <div class="project-desc-flex">
        <div class="project-desc-text">
            <div class="header-desc-flex">
                <div class="title-container">
                    <h1><b>{{client}}</b></p>
                </div>
                <div class="desc-date">
                    <h2><b>{{date}}</b></h2>
                </div>
            </div>
            <div class="project-intro">
                <p>{{introduction}}.</p>
            </div>
            <div>
                <p><b>Main points from the project:</b></p>
                <ul>
                    {%for i in range(description | length)%}
                    <li>{{description[i]}}</li>
                    {%endfor%}
                </ul>
            </div>
            <div>
                <p><b>Technical Skills: </b>{{technical_skills}}.</p>
            </div>
            <div>
                <p><b>Soft Skills: </b>{{soft_skills}}.</p>
            </div>
        </div>
        <div class="project-videos-flexbox">
            {%for i in range(videos | length)%}
            <div class="video">
            <iframe width="320" height="200" src="{{videos[i]}}" title="Video de muestra" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="gallery-flex">
        <div class="gallery-title">
            <h1>Photo gallery</h1>
        </div>
        <div class="photos-container">
            {%for i in range(photos | length)%}
            <div class="photo">
                <img src="../static/img/projects/{{photos[i]}}" alt="Descripción de la imagen">
            </div>
            {%endfor%}
        </div>
    </div>
</body>

</html>