<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:title" content="Personal Portfolio" />
  <meta property="og:description" content="My Personal Portfolio" />
  <meta property="og:url" content="{{ url }}" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />

  <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
  <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
  <title>{{ title }}</title>
</head>

<body>
  <header class="nav-bar">
    <div class="nav-content">
      <a href="/">
        <div class="nav-logo">
          <img src="./static/img/logo.svg" />
        </div>
      </a>
      <div class="timeline-header">
        <h1> {{ title }} </h1>
      </div>
    </div>
  </header>

  <div class="send_box">
    <form id="my-form" method="POST" action="{{ url_for('post_time_line_post') }}">
      <div class="lower_sendbox_title">
        <label for="name">User</label>
      </div>
      <div>        
        <input name="name" id="name" style="display: block; margin: 0 auto;" required>
      </div>
      <div class="lower_sendbox_title">        
        <label for="email">Email</label>
      </div>
      <div>
        <input name="email" id="email" style="display: block; margin: 0 auto;" required>
      </div>
      <div class="lower_sendbox_title">
        <label for="content">Content</label>
      </div>
      <div class="lower_sendbox_title">        
        <textarea name="content" id="content" required></textarea>
      </div>
      <div class="submit_box">
        <input type="submit" value="Submit" style="display: block; margin: 0 auto; margin-top: 5px;">
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Obtener el formulario por su ID
    const form = document.getElementById('my-form');

    // Agregar un manejador de eventos al formulario para el evento 'submit'
    form.addEventListener('submit', (event) => {
      // Detener el evento predeterminado
      event.preventDefault();
      
      // Crear objeto FormData con los datos del formulario
      const formData = new FormData(form);
      
      // Realizar la llamada AJAX para enviar los datos del formulario
      $.ajax({
        url: form.action,
        method: form.method,
        data: formData,
        processData: false,
        contentType: false,
        dataType: 'json',
        success: function(response) {
          console.log('Formulario enviado exitosamente');
          console.log(response); // Imprimir la respuesta en la consola
          location.reload();
        },
        error: function(error) {
          console.error('Error al enviar el formulario', error);
        }
      });
    });
  </script>

  <div class="flexbox">
    {%for i in range(data_lenght)%}
    <div class="box" id="box{{ i }}"> 
        <div class="top_post_box">
            <p class="username"><b>{{ data['timeline_posts'][i]['name'] }}</b></p>
            <p class="date">{{ data['timeline_posts'][i]['created_at'] }}</p>
        </div>
        <p class="mail">{{ data['timeline_posts'][i]['email'] }}</p>
        <p>{{ data['timeline_posts'][i]['content'] }}</p>
    </div>
    {%endfor%}
  </div>
  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>