name: Run Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-20.04
    name: Run Tests
    env:
      TESTING: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.6.8'

      - name: Setup Python Virtual Environment
        run: python -m venv python3-virtualenv

      - name: Print current working directory
        run: pwd

      - name: List files in current directory
        run: ls -R

      - name: Install Dependencies
        run: ./python3-virtualenv/bin/pip install -r requirements.txt

      - name: Install Requests
        run: python3-virtualenv/bin/pip install requirements

      - name: Run Tests
        run: ./run_test.sh